name: unit tests & linting

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black pytest
        pip install -r requirements.txt
        pip install -e .
    - name: Test with pytest
      run: |
        pytest --cov=perfect-noise --cov-fail-under=50 -v -s
    - name: Lint with black
      run: |
        # stop the build if there are Python syntax errors or undefined names
        black --check .
